body{
    margin: 0px;
    background-color: #697565;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #697565;
    padding: 30px;
    box-shadow: 0px 0px 30px #DAD4B5;
}
header a{
    margin-right: 30px ;
    text-decoration: none;
    color: #ECDFCC;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}
header a:hover{
    background-color: #982B1C ;
    color: #F2E8C6;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    box-shadow: 0 0 10px #982B1C;
    font-weight: bold;
}
header .headline{
    color:#ECDFCC ;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}
input,textarea{
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    
    font-family: 'Courier New', Courier, monospace;
}
main div{
    background-color: #DAD4B5;
    box-shadow: 0 0 20px #DAD4B5;
    padding: 10px;
    border-radius: 10px;
}
main div div a{
    text-decoration: none;
    color: #DAD4B5;
    
}
main div div div {
    width: 500px;
    background-color: #697565;
    text-align: center;
    
    padding: 10px;
    border-radius: 10px;
}
.title{
    color: #697565;
    font-weight: bold;
}
footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: black;
    color: #F2E8C6;
    box-shadow: 0 0 20px black;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
}
footer div p a{
    text-decoration: none;
    color: #F2E8C6;
}
footer div div{
    margin-left: 20px;
}
footer div p:hover,footer div p a:hover{
    color: #982B1C;
}